<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administración de Salas</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

    <h1>Administración de Salas de Juntas</h1>

    <h2>Salas Disponibles</h2>
    <button id="crear-sala-btn">Crear Sala</button>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Capacidad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="salas-body"></tbody>
    </table>

    <div id="crear-sala-modal" class="modal">
        <div class="modal-content">
            <h2>Crear Sala</h2>
            <form id="crear-sala-form">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" required>
                <br><br>

                <label for="capacidad">Capacidad:</label>
                <input type="number" id="capacidad" required>
                <br><br>

                <button type="submit">Crear</button>
                <button type="button" id="cerrar-modal">Cerrar</button>
            </form>
        </div>
    </div>

    <div id="modificar-sala-modal" class="modal">
        <div class="modal-content">
            <h2 id="titulo_sala">Modificar</h2>
            <form id="modificar-sala-form">
                <input type="hidden" id="id_sala">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre_modificar" required>
                <br><br>

                <label for="capacidad">Capacidad:</label>
                <input type="number" id="capacidad_modificar" required>
                <br><br>

                <button type="submit">Modificar</button>
                <button type="button" id="cerrar-mod-modal">Cerrar</button>
            </form>
        </div>
    </div>

    <h2>Reservar una Sala</h2>
    <form id="reserva-form">
        <label for="sala">Sala:</label>
        <select name="sala" id="sala_select">
        </select>
        <br><br>

        <label for="inicio">Hora de Inicio:</label>
        <input type="datetime-local" id="inicio" required>
        <br><br>

        <label for="fin">Hora de Fin:</label>
        <input type="datetime-local" id="fin" required>
        <br><br>

        <button type="submit">Reservar</button>
    </form>

    <h2>Reservaciones</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Sala</th>
                <th>Inicio</th>
                <th>Fin</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="reservas-body"></tbody>
    </table>

    <script src="{% static 'scripts.js' %}"></script>

</body>
</html>
